server:
  port: 8191

spring:
  application:
    name: data-redis

  data:
    redis:
      host: localhost
      port: 6379
      database: 0

  cache:
    type: redis

  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/redis-cache-test
    username: user
    password: pass
    hikari:
      connectionTimeout: 20000
      maximumPoolSize: 5

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    open-in-view: true

system:
  default:
    staffId: 07fea036-9b95-4519-8e51-da3339bea6aa